[Unit]
Description=Eyes detection for waybar-eyes
PartOf=graphical-session.target
After=graphical-session.target

[Service]
ExecStart=/usr/bin/waybar-eyes 0 /usr/share/waybar-eyes/haarcascade_frontalface_default.xml
Restart=on-failure

[Install]
WantedBy=graphical-session.target
